<ion-header color="primary"
  no-border="no-border"
>
  <ion-toolbar color="m1">
    <ion-buttons  slot="start" >
      <ion-menu-button 
        mode="ios"
        name="ios-menu-outline"
        
      ></ion-menu-button>
    </ion-buttons>



 
  </ion-toolbar>
</ion-header>
<ion-content  >
  <div id="topcolor" >
  </div>
  <div id="avatar" >
      <ion-avatar id="img-profile"  >
        <img   src="../../../assets/imgs/wen@2x.png">
      </ion-avatar> 
      <button  id="add-img-profile" (click)="takePicture()">    
       <ion-icon style="display:initial"  color="m1" mode="ios"  name="camera"></ion-icon>
      </button >

    </div>
    <ion-row>
      <ion-col size="6" class="ion-padding-horizontal">
          <button  id="btn-checkmark" style="float:right">    
            <ion-icon style="display:initial"  color="m1" mode="ios"  name="checkmark"></ion-icon>
          </button >
      </ion-col>
      <ion-col size="6"  class="ion-padding-horizontal">
          <button  id="btn-checkmark">    
            <ion-icon style="display:initial"  color="m1" mode="ios"  name="close"></ion-icon>
          </button >
      </ion-col>
    </ion-row>
  
   
   <div style="height: 100px" >
    
  </div>
   
</ion-content >
