<ion-header  no-border="no-border" >
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-menu-button
        mode="ios"
        name="ios-menu-outline"
        max-width="90px"
      ></ion-menu-button>
    </ion-buttons>

    <ion-item lines="none">
      <ion-col no-border="no-border">
        <div class="ion-text-right">
          <ion-label id="puntos" color="c7"><ion-icon name="medal" class="icono"></ion-icon>1300 pts</ion-label>
        </div>
      </ion-col>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="false" >

  <ion-grid >
    <ion-row>
      <ion-col size="12" class="ion-no-padding">
          <div id="flame">
            <ion-icon name="flame"></ion-icon>
          </div>
          <ion-progress-bar id="porcentaje" value="0.3" ></ion-progress-bar>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid id="contenedor">
    <ion-row>
      <ion-col size="7" class="rejilla">
        <div class="prueba">
        <div class="profile">
          <img id="imgporfile" src="../../assets/imgs/wen.png" alt="">
        </div>
        <div id="addph">
          <ion-icon  name="add"></ion-icon>
        </div>
      </div>
        <br>
        <div>
          <ion-label class="name">Wendy</ion-label>&nbsp;
          <ion-label class="lname">Herrera</ion-label>
        </div>
      </ion-col>

      <ion-col size="5" class="rejilla2">
        <div class="options">
          <ion-icon class="iconoption" name="bookmarks"></ion-icon><br>
          <ion-label>The Agile<br>Principales</ion-label>
        </div>
        <div class="options">
          <ion-icon class="iconoption" name="flag"></ion-icon><br>
          <ion-label>Agile Organizations<br>and Method</ion-label>
        </div>
        <div class="options">
          <ion-icon class="iconoption" name="chatbubbles"></ion-icon><br>
          <ion-label>Share your<br>results with...</ion-label>
        </div>
        <div class="options ultimaop">
          <ion-icon class="iconoption" name="calendar"></ion-icon><br>
          <ion-label>The next<br>Monday</ion-label>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
