<ion-header
  no-border="no-border"
  translucent="translucent"
>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button
        mode="ios"
        name="ios-menu-outline"
      ></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-back-button defaultHref="/" color="m1"></ion-back-button>
    </ion-buttons>

    <ion-title
      text-capitalize="text-capitalize"
      color="m1"
    >Excercise</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content id="">
  <ion-grid>

  <ion-row id="articlecontent">
          <ion-col size="12">
            <ion-title>The Agile Principles</ion-title>
          </ion-col>

      <ion-col size="12">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pharetra metus tempor libero malesuada, at eleifend erat auctor. Suspendisse viverra tincidunt finibus.
          <br>
            Integer iaculis justo eget aliquam.
          </p>
          <ion-img src="../assets/imgs/lesson/game_over.png"></ion-img> 
      </ion-col>
  </ion-row>
  
   
  
  </ion-grid>
  
</ion-content>
