<ion-header color="primary"
  no-border="no-border"
>
  <ion-toolbar color="m1">
    <ion-buttons  slot="start" >
      <ion-menu-button 
        mode="ios"
        name="ios-menu-outline"
        
      ></ion-menu-button>
    </ion-buttons>



 
  </ion-toolbar>
</ion-header>
<ion-content  >
  <div id="topcolor" >
  </div>
  <div id="avatar" >
      <ion-avatar id="img-profile"  >
        <img   src="../../../assets/imgs/wen@2x.png">
      </ion-avatar> 
      <button  id="add-img-profile">    
       <ion-icon style="display:initial"  color="m1" mode="ios"  name="add"></ion-icon>
      </button >

    </div>
   <ion-grid>
      <ion-row>
          <ion-col size-lg="6" size-md="8" size-sm="12" style="margin: auto" >
             
            <ion-row>
              <ion-col id="col-medal" size="5" >
                  <ion-icon name="medal"  ></ion-icon>
              </ion-col>
              <ion-col size="7" >
                  <ion-text color="m1"  >
                    <p style="font-size: 30px;font-weight: bold" >1800 pts</p>
                  </ion-text>
              </ion-col>
            </ion-row>
           
          </ion-col>
        </ion-row>
        <ion-row>
          <div style="width:100%;padding-left:48%">
              <ion-icon  color="m1" style="font-size:20px" name="flame"></ion-icon>


          </div>
          <ion-progress-bar mode="md" color="m1" value="0.5"></ion-progress-bar> 
            
        </ion-row>
        
   </ion-grid>
   <ion-grid style="padding-left: 50px" *ngFor="let p of profile">
     <ion-row style="height: 30px" ><p style="color:lightslategrey">{{p.campo}}</p></ion-row>
     <ion-row style="height: 30px"><p>{{p.data}}</p></ion-row>
   </ion-grid>
   <div style="height: 100px" >
    
  </div>
   
</ion-content >
