<ion-header color="primary"
  no-border="no-border"
>
  <ion-toolbar color="m1">
    <ion-buttons  slot="start" >
      <ion-menu-button 
        mode="ios"
        name="ios-menu-outline"
        
      ></ion-menu-button>
    </ion-buttons>



 
  </ion-toolbar>
</ion-header>
<ion-content  >
  <div id="topcolor" >
  </div>
  <div id="avatar" >
      <ion-avatar id="img-profile"  >
        <img   src="../../../assets/imgs/wen@2x.png">
      </ion-avatar> 
      <button  id="add-img-profile">    
       <ion-icon style="display:initial" routerLink="/photo-profile"  color="m1" mode="ios"  name="add"></ion-icon>
      </button >

    </div>
   <ion-grid>
      <ion-row>
          <ion-col size-lg="6" size-md="8" size-sm="12" style="margin: auto" >
             
            <ion-row>
              <ion-col id="col-medal" size="5" >
                  <ion-icon name="medal"  ></ion-icon>
              </ion-col>
              <ion-col size="7" >
                  <ion-text color="m1"  >
                    <p style="font-size: 30px;font-weight: bold" >{{profile[5].data}} pts</p>
                  </ion-text>
              </ion-col>
            </ion-row>
           
          </ion-col>
        </ion-row>

        <ion-row>
           
       
          
        <ion-col  [size]="(profile[6].data*12)"  >
          
            <ion-icon id="flame" color="m1"   name="flame"></ion-icon>

          </ion-col>
       
          <ion-progress-bar mode="md" color="m1" [value]="profile[6].data"></ion-progress-bar> 
            
        </ion-row>
        
   </ion-grid>


   
   <ion-grid style="padding-left: 50px" >
    <ion-row style="height: 30px" ><p style="color:lightslategrey">ID</p></ion-row>
     <ion-row style="height: 30px"><p>{{profile[0].data}}</p></ion-row>
     <ion-row style="height: 30px" ><p style="color:lightslategrey">Name</p></ion-row>
     <ion-row style="height: 30px"><p>{{profile[1].data}}</p></ion-row>
     <ion-row style="height: 30px" ><p style="color:lightslategrey">E-mail</p></ion-row>
     <ion-row style="height: 30px"><p>{{profile[2].data}}</p></ion-row>
     <ion-row style="height: 30px" ><p style="color:lightslategrey">Zone</p></ion-row>
     <ion-row style="height: 30px"><p>{{profile[3].data}}</p></ion-row>
     <ion-row style="height: 30px" ><p style="color:lightslategrey">Process</p></ion-row>
     <ion-row style="height: 30px"><p>{{profile[4].data}}</p></ion-row>
   </ion-grid>
   <div style="height: 100px" >
    
  </div>
   
</ion-content >
