<ion-header
  no-border="no-border"
  translucent="translucent"
>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button
        mode="ios"
        name="ios-menu-outline"
      ></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-back-button defaultHref="/" color="m1"></ion-back-button>
    </ion-buttons>

    <ion-title
      text-capitalize="text-capitalize"
      color="m1"
    >Infographic</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content id="">
  <ion-grid>

  <ion-row id="articlecontent">
      <ion-col size="12">
          <ion-title>The Agile Principles</ion-title>
      </ion-col>

      <ion-col size="12">
          <ion-img (click)="viewPhoto()" src="../assets/imgs/lesson/SCRUMMethodology.png"></ion-img> 
      </ion-col>
  </ion-row>
  
   
  
  </ion-grid>
  
</ion-content>
