// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/



:root {
  
  .desseleccionadoMenu{
    color: black;
    border-left: transparent;
    font-family: 'IBM Plex Sans Condensed Regular Italic';
  }
  --ion-font-family: 'IBM Plex Sans Condensed Light';
  // --ion-grid-padding: 0px;

  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  //M1
  --ion-color-m1: #DA5813;
  --ion-color-m1-rgb: 218,88,19;
  --ion-color-m1-contrast: #ffffff;
  --ion-color-m1-contrast-rgb: 255,255,255;
  --ion-color-m1-shade: #c04d11;
  --ion-color-m1-tint: #de692b;

  //M2
  --ion-color-m2: #B01f25;
  --ion-color-m2-rgb: 176,31,37;
  --ion-color-m2-contrast: #ffffff;
  --ion-color-m2-contrast-rgb: 255,255,255;
  --ion-color-m2-shade: #9b1b21;
  --ion-color-m2-tint: #b8353b;

  //M3
  --ion-color-m3: #868686;
  --ion-color-m3-rgb: 134,134,134;
  --ion-color-m3-contrast: #000000;
  --ion-color-m3-contrast-rgb: 0,0,0;
  --ion-color-m3-shade: #767676;
  --ion-color-m3-tint: #929292;

  //S1
  --ion-color-s1: #ff5300;
  --ion-color-s1-rgb: 255,83,0;
  --ion-color-s1-contrast: #ffffff;
  --ion-color-s1-contrast-rgb: 255,255,255;
  --ion-color-s1-shade: #e04900;
  --ion-color-s1-tint: #ff641a;

  //S2
  --ion-color-s2: #ff8e00;
  --ion-color-s2-rgb: 255,142,0;
  --ion-color-s2-contrast: #000000;
  --ion-color-s2-contrast-rgb: 0,0,0;
  --ion-color-s2-shade: #e07d00;
  --ion-color-s2-tint: #ff991a;

  //S3
  --ion-color-s3: #2a323f;
  --ion-color-s3-rgb: 42,50,63;
  --ion-color-s3-contrast: #ffffff;
  --ion-color-s3-contrast-rgb: 255,255,255;
  --ion-color-s3-shade: #252c37;
  --ion-color-s3-tint: #3f4752;

  //S4
  --ion-color-s4: #6e727a;
  --ion-color-s4-rgb: 110,114,122;
  --ion-color-s4-contrast: #ffffff;
  --ion-color-s4-contrast-rgb: 255,255,255;
  --ion-color-s4-shade: #61646b;
  --ion-color-s4-tint: #7d8087;

  //S5
  --ion-color-s5: #ffbe00;
  --ion-color-s5-rgb: 255,190,0;
  --ion-color-s5-contrast: #000000;
  --ion-color-s5-contrast-rgb: 0,0,0;
  --ion-color-s5-shade: #e0a700;
  --ion-color-s5-tint: #ffc51a;

  //S6
  --ion-color-s6: #e42600;
  --ion-color-s6-rgb: 228,38,0;
  --ion-color-s6-contrast: #ffffff;
  --ion-color-s6-contrast-rgb: 255,255,255;
  --ion-color-s6-shade: #c92100;
  --ion-color-s6-tint: #e73c1a;

  //S7
  --ion-color-s7: #D88100;
  --ion-color-s7-rgb: 216,129,0;
  --ion-color-s7-contrast: #000000;
  --ion-color-s7-contrast-rgb: 0,0,0;
  --ion-color-s7-shade: #be7200;
  --ion-color-s7-tint: #dc8e1a;

  //C1
  --ion-color-c1: #afb5bc;
  --ion-color-c1-rgb: 175,181,188;
  --ion-color-c1-contrast: #000000;
  --ion-color-c1-contrast-rgb: 0,0,0;
  --ion-color-c1-shade: #9a9fa5;
  --ion-color-c1-tint: #b7bcc3;

  //C2
  --ion-color-c2: #8a0053;
  --ion-color-c2-rgb: 138,0,83;
  --ion-color-c2-contrast: #ffffff;
  --ion-color-c2-contrast-rgb: 255,255,255;
  --ion-color-c2-shade: #790049;
  --ion-color-c2-tint: #961a64;

  //C3
  --ion-color-c3: #0dccb5;
  --ion-color-c3-rgb: 13,204,181;
  --ion-color-c3-contrast: #000000;
  --ion-color-c3-contrast-rgb: 0,0,0;
  --ion-color-c3-shade: #0bb49f;
  --ion-color-c3-tint: #25d1bc;

  //C4
  --ion-color-c4: #0868f4;
  --ion-color-c4-rgb: 8,104,244;
  --ion-color-c4-contrast: #ffffff;
  --ion-color-c4-contrast-rgb: 255,255,255;
  --ion-color-c4-shade: #075cd7;
  --ion-color-c4-tint: #2177f5;

  //C5
  --ion-color-c5: #92bf16;
  --ion-color-c5-rgb: 146,191,22;
  --ion-color-c5-contrast: #000000;
  --ion-color-c5-contrast-rgb: 0,0,0;
  --ion-color-c5-shade: #80a813;
  --ion-color-c5-tint: #9dc52d;

  //C6
  --ion-color-c6: #510ee2;
  --ion-color-c6-rgb: 81,14,226;
  --ion-color-c6-contrast: #ffffff;
  --ion-color-c6-contrast-rgb: 255,255,255;
  --ion-color-c6-shade: #470cc7;
  --ion-color-c6-tint: #6226e5;

  //c7
  --ion-color-c7: #F55000;
  --ion-color-c7-rgb: 245,80,0;
  --ion-color-c7-contrast: #ffffff;
  --ion-color-c7-contrast-rgb: 255,255,255;
  --ion-color-c7-shade: #d84600;
  --ion-color-c7-tint: #f6621a;
}

.ion-color-c7{
  --ion-color-base: var(--ion-color-c7) !important;
  --ion-color-base-rgb: var(--ion-color-c7-rgb) !important;
  --ion-color-contrast: var(--ion-color-c7-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-c7-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-c7-shade) !important;
  --ion-color-tint: var(--ion-color-c7-tint) !important;
}
.ion-color-m1{
  --ion-color-base: var(--ion-color-m1) !important;
  --ion-color-base-rgb: var(--ion-color-m1-rgb) !important;
  --ion-color-contrast: var(--ion-color-m1-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-m1-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-m1-shade) !important;
  --ion-color-tint: var(--ion-color-m1-tint) !important;
}

.ion-color-m2{
  --ion-color-base: var(--ion-color-m2) !important;
  --ion-color-base-rgb: var(--ion-color-m2-rgb) !important;
  --ion-color-contrast: var(--ion-color-m2-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-m2-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-m2-shade) !important;
  --ion-color-tint: var(--ion-color-m2-tint) !important;
}

.ion-color-m3{
  --ion-color-base: var(--ion-color-m3) !important;
  --ion-color-base-rgb: var(--ion-color-m3-rgb) !important;
  --ion-color-contrast: var(--ion-color-m3-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-m3-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-m3-shade) !important;
  --ion-color-tint: var(--ion-color-m3-tint) !important;
}

.ion-color-s1{
  --ion-color-base: var(--ion-color-s1) !important;
  --ion-color-base-rgb: var(--ion-color-s1-rgb) !important;
  --ion-color-contrast: var(--ion-color-s1-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-s1-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-s1-shade) !important;
  --ion-color-tint: var(--ion-color-s1-tint) !important;
}

.ion-color-s2{
  --ion-color-base: var(--ion-color-s2) !important;
  --ion-color-base-rgb: var(--ion-color-s2-rgb) !important;
  --ion-color-contrast: var(--ion-color-s2-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-s2-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-s2-shade) !important;
  --ion-color-tint: var(--ion-color-s2-tint) !important;
}

.ion-color-s3{
  --ion-color-base: var(--ion-color-s3) !important;
  --ion-color-base-rgb: var(--ion-color-s3-rgb) !important;
  --ion-color-contrast: var(--ion-color-s3-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-s3-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-s3-shade) !important;
  --ion-color-tint: var(--ion-color-s3-tint) !important;
}

.ion-color-s4{
  --ion-color-base: var(--ion-color-s4) !important;
  --ion-color-base-rgb: var(--ion-color-s4-rgb) !important;
  --ion-color-contrast: var(--ion-color-s4-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-s4-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-s4-shade) !important;
  --ion-color-tint: var(--ion-color-s4-tint) !important;
}

.ion-color-s5{
  --ion-color-base: var(--ion-color-s5) !important;
  --ion-color-base-rgb: var(--ion-color-s5-rgb) !important;
  --ion-color-contrast: var(--ion-color-s5-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-s5-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-s5-shade) !important;
  --ion-color-tint: var(--ion-color-s5-tint) !important;
}

.ion-color-s6{
  --ion-color-base: var(--ion-color-s6) !important;
  --ion-color-base-rgb: var(--ion-color-s6-rgb) !important;
  --ion-color-contrast: var(--ion-color-s6-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-s6-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-s6-shade) !important;
  --ion-color-tint: var(--ion-color-s6-tint) !important;
}

.ion-color-s7{
  --ion-color-base: var(--ion-color-s7) !important;
  --ion-color-base-rgb: var(--ion-color-s7-rgb) !important;
  --ion-color-contrast: var(--ion-color-s7-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-s7-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-s7-shade) !important;
  --ion-color-tint: var(--ion-color-s7-tint) !important;
}

.ion-color-c1{
  --ion-color-base: var(--ion-color-c1) !important;
  --ion-color-base-rgb: var(--ion-color-c1-rgb) !important;
  --ion-color-contrast: var(--ion-color-c1-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-c1-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-c1-shade) !important;
  --ion-color-tint: var(--ion-color-c1-tint) !important;
}

.ion-color-c2{
  --ion-color-base: var(--ion-color-c2) !important;
  --ion-color-base-rgb: var(--ion-color-c2-rgb) !important;
  --ion-color-contrast: var(--ion-color-c2-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-c2-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-c2-shade) !important;
  --ion-color-tint: var(--ion-color-c2-tint) !important;
}

.ion-color-c3{
  --ion-color-base: var(--ion-color-c3) !important;
  --ion-color-base-rgb: var(--ion-color-c3-rgb) !important;
  --ion-color-contrast: var(--ion-color-c3-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-c3-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-c3-shade) !important;
  --ion-color-tint: var(--ion-color-c3-tint) !important;
}

.ion-color-c4{
  --ion-color-base: var(--ion-color-c4) !important;
  --ion-color-base-rgb: var(--ion-color-c4-rgb) !important;
  --ion-color-contrast: var(--ion-color-c4-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-c4-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-c4-shade) !important;
  --ion-color-tint: var(--ion-color-c4-tint) !important;
}

.ion-color-c5{
  --ion-color-base: var(--ion-color-c5) !important;
  --ion-color-base-rgb: var(--ion-color-c5-rgb) !important;
  --ion-color-contrast: var(--ion-color-c5-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-c5-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-c5-shade) !important;
  --ion-color-tint: var(--ion-color-c5-tint) !important;
}

.ion-color-c6{
  --ion-color-base: var(--ion-color-c6) !important;
  --ion-color-base-rgb: var(--ion-color-c6-rgb) !important;
  --ion-color-contrast: var(--ion-color-c6-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-c6-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-c6-shade) !important;
  --ion-color-tint: var(--ion-color-c6-tint) !important;
}