<ion-header
  no-border="no-border"
  translucent="translucent"
>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button
        mode="ios"
        name="ios-menu-outline"
      ></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-back-button defaultHref="/videos" color="m1"></ion-back-button>
    </ion-buttons>

    <ion-title
      text-capitalize="text-capitalize"
      color="m1"
    >Agile Organizations</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <video autoplay controls>
    <source src="../assets/AgileVideo.mp4" type="video/x-m4v">
  </video>
</ion-content>
