ion-menu-button{
      --color: var(--ion-color-m1);
  }
  
  ion-item{
      --min-height: 55px;
  }

  ion-icon{
      font-size: 22px;
  }
  
  ion-item.backModule{
      --background: rgba(174,181,188, 0.1);
      --padding-start: 25px;
  }

  ion-item.itemsUnit{
      --min-height: 35px;
  }
  
  .module{
      color: var(--ion-color-s6);
      font-weight: bolder;
      font-size: 18px;
  }
  
  .unitHeader{
      padding: 0 25px;
      margin-bottom: 12px;
  }
  
  .unitHeader ion-list-header{
      border-bottom: 1px solid var(--ion-color-s1);
      
  }
  
  .units{
      font-style: italic;
      font-size: 16px;
      color: var(--ion-color-s3);
  }
  
  .itemsUnit{
      --padding-start: 35px;
  }

  